<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [3]:
import piplite
import micropip
await piplite.install(['pandas'])
await piplite.install(['matplotlib'])
await piplite.install(['scipy'])
await piplite.install(['seaborn'])
await micropip.install(['ipywidgets'],keep_going=True)
await micropip.install(['tqdm'],keep_going=True)
import pandas as pd
import numpy as np

#This function will download the dataset into your browser 

from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

Load the dataset into a dataframe.

In [116]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

await download(dataset_url, "m1_survey_data.csv")
path="m1_survey_data.csv"

#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")
df = pd.read_csv(path, header=None)

<ipython-input-116-d730ff0a71f9>:7: DtypeWarning: Columns (0,29,31,32,39,77) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, header=None)

In [117]:
df.columns=df.iloc[0]
df = df.drop(df.index[0])
df.head(5)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
2,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
3,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
4,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
5,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [61]:
# your code goes here
len(df)

11552

In [62]:
len(df.drop_duplicates())

11398

In [63]:
len(df)-len(df.drop_duplicates())

154

In [64]:
len(df['Respondent'])-len(df['Respondent'].drop_duplicates())

154

In [65]:
df['Respondent'].duplicated().any()

True

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [118]:
# your code goes here
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [67]:
# your code goes here
len(df)

11398

In [69]:
len(df['Respondent'])

11398

In [68]:
#method 1 of checking
df.duplicated().any()

False

In [21]:
# These methods can be applied on the DataFrame as a whole, and not just a Serie (column) as above. The equivalent would be:
# boolean = df.duplicated(subset=['Student']).any() # returns true if there are duplicates for the Student column only 
# We were expecting True, as Joe can be seen twice.

# By using the keep paramater we can normally skip a few rows directly accessing what we need:
# keep : {‘first’, ‘last’, False}, default ‘first’
#first : Drop duplicates except for the first occurrence.
#last : Drop duplicates except for the last occurrence.
#False : Drop all duplicates.

## Finding Missing values

Find the missing values for all columns.

In [70]:
# your code goes here
missing_data = df.isnull()
missing_data

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11550,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11551,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
11552,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Find out how many rows are missing in the column 'WorkLoc'

In [74]:
df['Country'].isnull().sum()

0

In [71]:
# your code goes here
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [49]:
# your code goes here
df['WorkLoc']. value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [50]:
df['WorkLoc']

1                                                  Home
2                                                Office
3                                                  Home
4                                                  Home
5        Other place, such as a coworking space or cafe
                              ...
11548                                              Home
11549                                              Home
11550                                            Office
11551                                              Home
11552                                            Office
Name: WorkLoc, Length: 11398, dtype: object

Identify the value that is most frequent (majority) in the WorkLoc column.

In [80]:
#make a note of the majority value here, for future reference
df['WorkLoc'].mode()

0    Office
Name: WorkLoc, dtype: object

In [81]:
#To find least frequent is how many
s = df['UndergradMajor'].value_counts()
s[-1]

24

In [82]:
#To find most frequent is how many
s[0]

6953

In [85]:
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [119]:
# your code goes here
df['WorkLoc'].replace("?", np.nan, inplace = True)
df['WorkLoc']

1                                                  Home
2                                                Office
3                                                  Home
4                                                  Home
5        Other place, such as a coworking space or cafe
                              ...
11548                                              Home
11549                                              Home
11550                                            Office
11551                                              Home
11552                                            Office
Name: WorkLoc, Length: 11398, dtype: object

In [108]:
df['WorkLoc'].replace(np.nan, 'Office', inplace = True)

In [109]:
df['WorkLoc']

1                                                  Home
2                                                Office
3                                                  Home
4                                                  Home
5        Other place, such as a coworking space or cafe
                              ...
11548                                              Home
11549                                              Home
11550                                            Office
11551                                              Home
11552                                            Office
Name: WorkLoc, Length: 11398, dtype: object

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [110]:
# your code goes here
df['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [111]:
df['CompFreq'].isnull().sum()

206

In [112]:
# your code goes here
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [101]:
# your code goes here
#TRY 1
#for freq in df['CompFreq'].astype("string"):
#    try:
#        if freq == 'Yearly':
#            df['NormalizedAnnualCompensation'] = df['CompTotal'].astype("float")
#        if freq == 'Monthly':
#            df['NormalizedAnnualCompensation'] = df['CompTotal'].astype("float") * 12
#        if freq == 'Weekly':
#            df['NormalizedAnnualCompensation'] = df['CompTotal'].astype("float") * 52
#    except TypeError:
#        pass

In [120]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
2,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
3,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
4,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
5,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

In [122]:
#df.loc[[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation']] = df['CompTotal'].astype("float") * 1
#df.loc[[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation']] = df['CompTotal'].astype("float") * 12
#df.loc[[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation']] = df['CompTotal'].astype("float") * 52

In [121]:

df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation']  = 1  * df['CompTotal'].astype("float")
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = 12 * df['CompTotal'].astype("float")
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation']  = 52 * df['CompTotal'].astype("float")


df[['CompTotal','CompFreq','NormalizedAnnualCompensation']].head(20)

df['NormalizedAnnualCompensation'].median()

100000.0

In [123]:
df[['NormalizedAnnualCompensation', 'CompFreq', 'CompTotal']]

0      NormalizedAnnualCompensation CompFreq CompTotal
1                           61000.0   Yearly   61000.0
2                          138000.0   Yearly  138000.0
3                           90000.0   Yearly   90000.0
4                          348000.0  Monthly   29000.0
5                           90000.0   Yearly   90000.0
...                             ...      ...       ...
11548                      130000.0   Yearly  130000.0
11549                       74400.0   Yearly   74400.0
11550                      105000.0   Yearly  105000.0
11551                       80000.0   Yearly   80000.0
11552                           NaN      NaN       NaN

[11398 rows x 3 columns]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).